<div class="d-flex justify-content-center align-items-center" style="height: 90%;">
  <form action="<%= git_hub_show_path %>" method="get" style="max-width: 300px; width: 100%;">
    <div class="mb-3 text-center">
      <label for="exampleInputLogin" class="form-label" style="width: 100%; text-decoration: underline;">Please, enter login from GitHub</label>
      <input type="text" class="form-control" id="exampleInputLogin" aria-describedby="loginHelp" name="login" style="width: 100%;">
    </div>
    <div class="text-center" style="width: 100%;">
      <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
    </div>
  </form>
</div>
