---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/VladFomenko
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e068fe4c3e124dfb2a83d7a0001ce036420dd50705108d5df91e6aa5ec96cd06"
      Last-Modified:
      - Mon, 04 Dec 2023 10:33:36 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1702838704'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"VladFomenko","id":41300309,"node_id":"MDQ6VXNlcjQxMzAwMzA5","avatar_url":"https://avatars.githubusercontent.com/u/41300309?v=4","gravatar_id":"","url":"https://api.github.com/users/VladFomenko","html_url":"https://github.com/VladFomenko","followers_url":"https://api.github.com/users/VladFomenko/followers","following_url":"https://api.github.com/users/VladFomenko/following{/other_user}","gists_url":"https://api.github.com/users/VladFomenko/gists{/gist_id}","starred_url":"https://api.github.com/users/VladFomenko/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/VladFomenko/subscriptions","organizations_url":"https://api.github.com/users/VladFomenko/orgs","repos_url":"https://api.github.com/users/VladFomenko/repos","events_url":"https://api.github.com/users/VladFomenko/events{/privacy}","received_events_url":"https://api.github.com/users/VladFomenko/received_events","type":"User","site_admin":false,"name":"Vladyslav
        Fomenko","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":"junior
        Ruby on Rails developer","twitter_username":null,"public_repos":5,"public_gists":0,"followers":5,"following":8,"created_at":"2018-07-16T15:49:05Z","updated_at":"2023-12-04T10:33:36Z"}'
  recorded_at: Sun, 17 Dec 2023 17:45:04 GMT
- request:
    method: get
    uri: https://api.github.com/users/VladFomenko/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d5319b7a04c035ece78e6cf8c92df177194bbeebb1ff08144e7f5f4619951385"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1702838704'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":640215676,"node_id":"R_kgDOJijqfA","name":"hospital_control","full_name":"VladFomenko/hospital_control","private":false,"owner":{"login":"VladFomenko","id":41300309,"node_id":"MDQ6VXNlcjQxMzAwMzA5","avatar_url":"https://avatars.githubusercontent.com/u/41300309?v=4","gravatar_id":"","url":"https://api.github.com/users/VladFomenko","html_url":"https://github.com/VladFomenko","followers_url":"https://api.github.com/users/VladFomenko/followers","following_url":"https://api.github.com/users/VladFomenko/following{/other_user}","gists_url":"https://api.github.com/users/VladFomenko/gists{/gist_id}","starred_url":"https://api.github.com/users/VladFomenko/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/VladFomenko/subscriptions","organizations_url":"https://api.github.com/users/VladFomenko/orgs","repos_url":"https://api.github.com/users/VladFomenko/repos","events_url":"https://api.github.com/users/VladFomenko/events{/privacy}","received_events_url":"https://api.github.com/users/VladFomenko/received_events","type":"User","site_admin":false},"html_url":"https://github.com/VladFomenko/hospital_control","description":null,"fork":false,"url":"https://api.github.com/repos/VladFomenko/hospital_control","forks_url":"https://api.github.com/repos/VladFomenko/hospital_control/forks","keys_url":"https://api.github.com/repos/VladFomenko/hospital_control/keys{/key_id}","collaborators_url":"https://api.github.com/repos/VladFomenko/hospital_control/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/VladFomenko/hospital_control/teams","hooks_url":"https://api.github.com/repos/VladFomenko/hospital_control/hooks","issue_events_url":"https://api.github.com/repos/VladFomenko/hospital_control/issues/events{/number}","events_url":"https://api.github.com/repos/VladFomenko/hospital_control/events","assignees_url":"https://api.github.com/repos/VladFomenko/hospital_control/assignees{/user}","branches_url":"https://api.github.com/repos/VladFomenko/hospital_control/branches{/branch}","tags_url":"https://api.github.com/repos/VladFomenko/hospital_control/tags","blobs_url":"https://api.github.com/repos/VladFomenko/hospital_control/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/VladFomenko/hospital_control/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/VladFomenko/hospital_control/git/refs{/sha}","trees_url":"https://api.github.com/repos/VladFomenko/hospital_control/git/trees{/sha}","statuses_url":"https://api.github.com/repos/VladFomenko/hospital_control/statuses/{sha}","languages_url":"https://api.github.com/repos/VladFomenko/hospital_control/languages","stargazers_url":"https://api.github.com/repos/VladFomenko/hospital_control/stargazers","contributors_url":"https://api.github.com/repos/VladFomenko/hospital_control/contributors","subscribers_url":"https://api.github.com/repos/VladFomenko/hospital_control/subscribers","subscription_url":"https://api.github.com/repos/VladFomenko/hospital_control/subscription","commits_url":"https://api.github.com/repos/VladFomenko/hospital_control/commits{/sha}","git_commits_url":"https://api.github.com/repos/VladFomenko/hospital_control/git/commits{/sha}","comments_url":"https://api.github.com/repos/VladFomenko/hospital_control/comments{/number}","issue_comment_url":"https://api.github.com/repos/VladFomenko/hospital_control/issues/comments{/number}","contents_url":"https://api.github.com/repos/VladFomenko/hospital_control/contents/{+path}","compare_url":"https://api.github.com/repos/VladFomenko/hospital_control/compare/{base}...{head}","merges_url":"https://api.github.com/repos/VladFomenko/hospital_control/merges","archive_url":"https://api.github.com/repos/VladFomenko/hospital_control/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/VladFomenko/hospital_control/downloads","issues_url":"https://api.github.com/repos/VladFomenko/hospital_control/issues{/number}","pulls_url":"https://api.github.com/repos/VladFomenko/hospital_control/pulls{/number}","milestones_url":"https://api.github.com/repos/VladFomenko/hospital_control/milestones{/number}","notifications_url":"https://api.github.com/repos/VladFomenko/hospital_control/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/VladFomenko/hospital_control/labels{/name}","releases_url":"https://api.github.com/repos/VladFomenko/hospital_control/releases{/id}","deployments_url":"https://api.github.com/repos/VladFomenko/hospital_control/deployments","created_at":"2023-05-13T11:08:24Z","updated_at":"2023-05-21T10:29:53Z","pushed_at":"2023-10-08T16:55:42Z","git_url":"git://github.com/VladFomenko/hospital_control.git","ssh_url":"git@github.com:VladFomenko/hospital_control.git","clone_url":"https://github.com/VladFomenko/hospital_control.git","svn_url":"https://github.com/VladFomenko/hospital_control","homepage":null,"size":178,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main"},{"id":725074512,"node_id":"R_kgDOKzfCUA","name":"list_from_github","full_name":"VladFomenko/list_from_github","private":false,"owner":{"login":"VladFomenko","id":41300309,"node_id":"MDQ6VXNlcjQxMzAwMzA5","avatar_url":"https://avatars.githubusercontent.com/u/41300309?v=4","gravatar_id":"","url":"https://api.github.com/users/VladFomenko","html_url":"https://github.com/VladFomenko","followers_url":"https://api.github.com/users/VladFomenko/followers","following_url":"https://api.github.com/u[...]
