---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query GithubQuery__QueryString($login: String!, $pageSize:
        Int!, $cursor: String) {\n  user(login: $login) {\n    name\n    repositories(first:
        $pageSize, after: $cursor) {\n      edges {\n        node {\n          name\n        }\n        cursor\n      }\n      pageInfo
        {\n        hasNextPage\n        endCursor\n        startCursor\n      }\n    }\n  }\n}","variables":{"login":"VladFomenko","pageSize":16,"cursor":null},"operationName":"GithubQuery__QueryString"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 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
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2023-12-29 18:17:49 UTC
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1701686931'
      X-Ratelimit-Used:
      - '15'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"user":{"name":"Vladyslav Fomenko","repositories":{"edges":[{"node":{"name":"RubyHW"},"cursor":"Y3Vyc29yOnYyOpHOIQu78w=="},{"node":{"name":"ror_geekhub_jira"},"cursor":"Y3Vyc29yOnYyOpHOJDMMug=="},{"node":{"name":"ror_geekhub_jira"},"cursor":"Y3Vyc29yOnYyOpHOJfgpEg=="},{"node":{"name":"hospital_control"},"cursor":"Y3Vyc29yOnYyOpHOJijqfA=="},{"node":{"name":"api"},"cursor":"Y3Vyc29yOnYyOpHOKpLN8g=="},{"node":{"name":"test_deploy_netlify"},"cursor":"Y3Vyc29yOnYyOpHOKxbfmw=="}],"pageInfo":{"hasNextPage":false,"endCursor":"Y3Vyc29yOnYyOpHOKxbfmw==","startCursor":"Y3Vyc29yOnYyOpHOIQu78w=="}}}}}'
  recorded_at: Mon, 04 Dec 2023 10:04:46 GMT
recorded_with: VCR 6.2.0
