---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query GithubQuery__QueryString($login: String!) {\n  user(login:
        $login) {\n    name\n    repositories(first: 10) {\n      nodes {\n        name\n      }\n    }\n  }\n}","variables":{"login":"VladFomenko"},"operationName":"GithubQuery__QueryString"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 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
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2023-12-29 18:17:49 UTC
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1701535746'
      X-Ratelimit-Used:
      - '10'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"user":{"name":"Vladyslav Fomenko","repositories":{"nodes":[{"name":"RubyHW"},{"name":"ror_geekhub_jira"},{"name":"ror_geekhub_jira"},{"name":"hospital_control"},{"name":"api"},{"name":"test_deploy_netlify"}]}}}}'
  recorded_at: Sat, 02 Dec 2023 16:42:33 GMT
recorded_with: VCR 6.2.0
