<div class="container py-3 page-container">
  <ul class="list-group list-group-light" id="repositoriesList">
    <li class="list-group-item"><%= @user_data['name'] %></li>
    <% @user_data['repos'].each do |repo| %>
      <li class="list-group-item">- <%= repo %></li>
  <% end %>
  </ul>
</div>