<div class="form-container">
  <div class="form-wrapper">
    <%= form_tag(graphql_path, method: :get) do %>
      <div class="form-container">
        <div class="form-wrapper">
          <div class="mb-3 text-center">
            <%= label_tag :login, "Please, enter login from GitHub", class: "form-label" %>
            <%= text_field_tag :login, nil, class: "form-control form-input", id: "exampleInputLogin", aria_describedby: "loginHelp" %>
          </div>
          <div class="text-center">
            <%= submit_tag "Submit", class: "btn submit-button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
