<% if flash[:error].present? %>
  <div class="custom-error-message">
    <% if flash[:error].is_a?(String) %>
      <%= flash[:error] %>
    <% elsif flash[:error].is_a?(Array) %>
      <% flash[:error].each do |error| %>
        <%= error %><br>
      <% end %>
    <% end %>
  </div>
<% end %>
